
.dark{
    background-color: #352d2a; 
    color: #FFFFFF;
}
.BacgroundColor{
    background-color: #F7F3ED;;
    height: 100vh;
}
/* ------------------------------ */
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    /* border: 1px solid black; */
    border: none;
}
th, td {
    width: 25%;
    height: 10vh;
    text-align: center;
    vertical-align: middle;
    /* padding: 8px;
    text-align: left; */
}
/* .no-border-table td,.no-border-table th {
    border: none;
} */
/* td img {
    width: 40%; 
    object-fit: cover; 
  } */

.booklist{
    text-decoration: none; /* 移除預設的底線 */
    color: black;
}
.booklist:hover{
    color: rgb(183, 159, 123);
}


.btnstyle {
    position: relative; /* 需要設定相對位置來處理底線 */
    text-decoration: none; /* 移除預設的底線 */
    color: #F7F3ED;
}
.btnstyle::after {
    content: ''; /* 使用偽元素創建底線 */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* 底線的高度 */
    background-color: white; /* 底線顏色 */
    transform: scaleX(0); /* 預設底線隱藏 */
    transform-origin: bottom right; /* 底線顯示時從右邊開始 */
    transition: transform 0.3s ease; /* 漸變效果 */
}
.btnstyle:hover::after {
    transform: scaleX(1); /* 滑鼠懸停時，底線顯示 */
    transform-origin: bottom left; /* 底線顯示時從左邊開始 */
    
}
.btnstyle:hover{
    color: white;
}