
.dark{
    background-color: #352d2a; 
    color: #FFFFFF;
}
.BacgroundColor{
    background-color: #FFFFFF;
    height: 100vh;
}
/* ------------------------------ */
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    /* border: 1px solid black; */
    border: none;
}
th, td {
    width: 25%;
    height: 10vh;
    text-align: center;
    vertical-align: middle;
    /* padding: 8px;
    text-align: left; */
}
/* .no-border-table td,.no-border-table th {
    border: none;
} */
/* td img {
    width: 40%; 
    object-fit: cover; 
  } */